<ion-header tappable>
  <ion-toolbar color="light">
    <ion-menu-button slot="start">
      <ion-icon color="primary" name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title color="primary">My Order</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="Reset()">
        <ion-label color="primary">
          Reset
        </ion-label>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<div *ngIf="alldata">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label class="bold_label" color="primary">
          From
        </ion-label>

      </ion-col>
      <ion-col size="6">
        <ion-label class="bold_label" color="primary">
          To
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row_border">
      <ion-col size="6">

        <ion-item lines="none" style="padding: 0px ;">

          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="From Date" [(ngModel)]="FromDate"></ion-datetime>
          <ion-icon class="calendar-icon" name="calendar-outline"></ion-icon>
        </ion-item>


      </ion-col>

      <ion-col size="6">
        <ion-label></ion-label>
        <ion-item lines="none" style="padding: 0px ;">
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="To Date" [(ngModel)]="ToDate" (ionChange)="showdate()">
          </ion-datetime>
          <ion-icon class="calendar-icon" name="calendar-outline"></ion-icon>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row class="row_order2">
      <ion-col size="6">
        <ion-label class="bold_label" style="padding: 15px;" color="primary"> Total Price</ion-label>
        <br>
        <ion-label style="padding: 15px;" color="primary">
          ₹ {{TotalPrice}}
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label style="padding: 15px;" class="bold_label" color="primary">
          Total Order
        </ion-label>
        <br>
        <ion-label style="padding: 15px;" color="primary">
          {{total_dc}}

        </ion-label>

      </ion-col>


    </ion-row>
  </ion-grid>


  <div>

    <ion-label position="stacked" class="bold_label" style="padding: 15px;" color="dark" color="primary"> Filter by
      Order Status
    </ion-label>
    <ion-select #C [(ngModel)]="orderStatus" placeholder="Filter By Order Status" (ionChange)="OrderStatusSelect(C.value)"
      okText="Select" cancelText="Dismiss">
      <ion-select-option *ngFor="let pp of OrderStatus" [value]="pp">
        {{pp.name}}</ion-select-option>
    </ion-select>
    


    <ion-searchbar placeholder="Filter by Customer" [(ngModel)]="SelectedFruit" (ngModelChange)="getItems($event)"
      (ionFocus)="checkFocus('true')">
    </ion-searchbar>
    <ion-label>
      <h1 style="text-align: center; font-size: 16px;">
        {{business_name}}
      </h1>
    </ion-label>


  </div>
</div>


<ion-content *ngIf="alldata">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>




  <div class="mainContent">

    <div *ngIf="!data?.length" [style.backgroundImage]="'url(assets/nothing.jpg)'">
    </div>
    <div class="haveData">


      <div *ngIf="showFruitList == true">
        <ion-list>
          <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="MakeDefault($event)">

            <div *ngFor="let list of searchData">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-item>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12">
                            <ion-label class="ion-text-wrap">{{list.business_name}}</ion-label>
                          </ion-col>

                          <ion-col size="12">
                            <ion-label class="ion-text-wrap">{{list.name}}</ion-label>
                          </ion-col>

                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <ion-label class="ion-text-wrap">{{list.email}}</ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <ion-label class="ion-text-wrap">{{list.phone}}</ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-label class="ion-text-wrap">{{list.address}}</ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <ion-radio slot="start" name="{{list}}" [value]="list"></ion-radio>

                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </div>


          </ion-radio-group>
        </ion-list>
      </div>



      <div class="card_div" *ngFor="let item of data; let i = index" (click)="ViewInvoice(item.id)">


        <div class="resto_detail">
          <!-- <div class="back_image" [style.backgroundImage]="'url('+item.vid.cover+')'"></div> -->
          <div>
            <p><span>{{item.business_name}}</span></p>
            <p><span>Order Number # {{item.id}}</span></p>
            <!-- <ion-label class="res_name"></ion-label> -->

          </div>
        </div>

        <div class="line_div"></div>

        <div class="order_detail">
          <ion-label class="head_gray">ITEMS</ion-label>
          <div class="small_lbl">
            <span *ngFor="let item of data[i].products; let k = index">{{getQty( item)}} X {{getProduct( item)}}
              <span *ngIf="k !=item.length">,
              </span>
            </span>

          </div>
          <ion-label class="head_gray">ORDERED ON</ion-label>
          <ion-label class="small_lbl">{{item.created_at}} </ion-label>
          <ion-label class="head_gray">TOTAL AMOUNT</ion-label>
          <ion-label class="small_lbl">₹ {{item.total_price}} </ion-label>
        </div>

        <div class="line_div"></div>

        <div class="status_detail" *ngIf="item.delivety_status =='completed' || item.delivety_status == 'delivered'">
          <div class="deliver_div">
            Delivered
          </div>
        </div>
        <div class="status_detail"
          *ngIf="item.delivety_status =='Pending' || item.delivety_status == 'Delivered' ||  item.delivety_status == 'In Process' ">
          <div class="deliver_div">
            Your Order is {{item.delivety_status}}
          </div>
          <div class="repeat_div" style="color: green;">
            View Order
          </div>
        </div>
        <div class="status_detail"
          *ngIf="item.status =='created' || item.delivety_status =='ongoing' || item.delivety_status === 'accepted'">
          <div class="deliver_div">
            Your Order is {{item.delivety_status}}
          </div>
          <div class="repeat_div" style="color: green;">
            <ion-icon name="map-outline"></ion-icon>Track Order
          </div>
        </div>
      </div>

    </div>

  </div>
</ion-content>